# gunicorn == 20.1.0
# flask == 2.0.1
# Flask-JWT-Extended == 4.4.4
# Flask-RESTful == 0.3.9
# requests == 2.26.0
# flask_cors == 3.0.10

gunicorn
flask
Flask-JWT-Extended
Flask-RESTful
requests
flask_cors
pyjwt